body {
    margin: 0;
    padding: 0;
    font-family: 'Avenir' , sans-serif;
}

h1 {
    color: #1498eb;
    padding-left: 10px;
}

h2 {
    padding-left: 10px;
}

h3 {
  font-family: 'Roboto', sans-serif;
  color:#2C4758
}
h4 {
  color: #1498eb;
  font-family: 'Roboto', sans-serif;
}
.footercontent {
  margin-right:5px !important;
}

.footerimg{
  margin-right:5px !important;
}
.footerimg:hover {
  transform: scale(1.5);
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Print stylesheet*/
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  .nav,
  .menu, 
  video {
    display: none !important;
  }
  body {
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
  }
 
  header {
    height: 1em;
    margin: 0;
    padding: 0;
  }
  h2, h3 {
    height: 1em;
    margin: 0;
    padding: 0;
  }
  .flex-item-right {
    display: none;
  }
  a:after {
    content: "("attr(href)")";
  }
    @page {
      margin: .2cm;
    }
   h1{
    
   }
    p, ul {
      orphans: 3;
      widows: 3;
      font-size: 11pt;
    }
}

/*css flexbox for grid in about page*/
* {
    box-sizing: border-box;
  }
 
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /*this line and next may not be needed*/
    align-items: center;
    align-content: space-between;
    text-align: left;
    padding: 10px;
  }
  
  .flex-item-left {
    align-self: flex-start;
    padding: 20px;
    flex: 50%;
  }
  
  .flex-item-right {
    padding: 20px;
    flex: 50%;
  }

  /* Column container */
.row-projects {  
  display: flex;
  flex-wrap: wrap;
}

/*table styling*/
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 40px;
}
th {
  background-color: #2C4758;
  color: #fff;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}

/* Main column */
.main {
  flex: 70%;
  background-color: white;
  padding: 20px;
}

  .row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 8px;
  }
  /* Create three equal columns that sits next to each other */
.column {
  -ms-flex: 33%; /* IE10 */
  flex: 33%;
  max-width: 33%;
  padding: 0 8px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}


/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
  table {
    overflow: scroll;
  }
}

/*indent text*/
.tab { margin-left: 40px; 
}

/*the lists of task on projects page need spacing to align with two buttons*/


/*unordered lists without bullets*/
ul.no-bullets {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


  /* Responsive layout - makes a one column-layout instead of a two-column layout */
  @media (max-width: 800px) {
    .flex-item-right, .flex-item-left {
      flex: 100%;
    }
  }
  @media (max-widthL 800px) {
    .flex-container {
      flex-direction: column;
    }
  }
/*image responsive*/
.responsive {
  width: 100%;
  max-width: 500px;
  height: auto;
}

video {
  width: 100%;
  height: auto;
}
.button-a {
  background-color: #FFBE07;
  color: white;
  padding: 15px 50px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: 2px 2px;
  border-radius: 8px;
}
.button-b {
  background-color: #FFBE07;
  color: white;
  padding: 15px 50px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: 40px;
  border-radius: 8px;
}
#box-a {
    display: flex;
    flex-basis: 100px;
    flex-grow: 1;
    background-color: #2C4758;
    border: 1px; solid #000000;
    padding: 3px 0 3px 0;
    justify-content: center;
    text-align: center;
}
/*indented box of questions on Project page*/
#box-c {
  display: flex;
  flex-basis: 100px;
  flex-grow: 1;
  background-color: #f1f1f1;
  border: 1px; solid #000000;
  padding: 3px 0 3px 0;
  justify-content: center;
  text-align: left;
}

/*Style the first letter*/
.subhead::first-letter {
    font-size: 200%;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    color: rgb(255, 190, 7);
    margin: 0px 0.1em 0px 0px;
}
/*Box model for paragraphs*/
div.a {
    border: none;
    padding: 10px;
}
main {
    border: none;
    padding: 10px;
}

footer {
    padding: 10px;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  border: none; 
}

/*Indent only paragraphs 2 through 4*/
div.b {
    text-indent: 50px;
}
/*free content license mail icon image from Canva via Goodware Std used in footer*/
footer {
  display:flex;
  color: #2C4758;
  background-image: url("footerimage.png");
  background-repeat: no-repeat;
  background-size: cover;
}