/* Desktop Navigation Styles */
nav {
    background-color: #2C4758;
    color: #ffffff;
    list-style: none;
    text-align: center;
    padding: 20px 0 30px 0;
}

#hamburger {
    display: none;  /* Hide hamburger menu on desktop */
}

nav > ul.menu > li {
    display: inline-block;
    padding: 0 15px 0 15px;
    position: relative;
    vertical-align: text-top;
}

nav > ul.menu > li > a {
    text-decoration: none;
    color: #ffffff;
}

nav > ul.menu > li > a:hover,
nav > ul.menu > li > ul > li > a:hover {
    color: #c1c1c1;
}

/* Hide the dropdown menu by default */
nav > ul.menu > li > ul > li {
    display: none;
}

/* Show dropdown menu on hover */
nav > ul.menu > li:hover > ul > li {
    display: block;
}

/* Mobile Navigation Styles */
.menu-toggle {
    display: none;
}

@media only screen and (max-width: 640px) {
    #hamburger {
        display: inline-block;  /* Show hamburger menu on mobile */
        float: left;
        padding-left: 20px;
        width: 26px;
        font-size: 2em;
    }

    /* Hide regular menu items */
    nav > ul.menu > li {
        display: none;
    }

    /* Show the menu when hamburger is clicked */
    .menu-toggle:checked ~ ul.menu > li {
        display: block;
    }
}
