nav {
    background-color: #2C4758;
    color: #ffffff;
    list-style: none;
    text-align: center;
    padding: 20px 0 20px 0;
    height: 150px;
}

nav > ul > li {
    display: inline-block;
    padding: 0 15px 0 15px;
    position: relative;
    vertical-align: text-top;
}

nav > ul > li a {
    text-decoration: none;
    color:#ffffff;
}

nav > ul > li > a:hover {
    color: #c1c1c1;
}

/*below is the dropdown menu nav styling*/

nav > ul > li > ul {
    padding: 0 5px 0 5px;
}

nav > ul > li > ul > li {
    display: block;
    visibility: hidden;
}
nav > ul > li:hover > ul > li {
    visibility: visible;
    list-style: none; /*removed bullets from submenu*/
}

nav > ul > li > ul > li > a:hover {
    color:#c1c1c1
}
navi > ul > li > ul > li > a {
    text-decoration: none;
    color:#ffffff;
}


/*below is the mobile nav*/
#hamburger {
    display: none;
}
@media only screen and (max-width: 640px) {
    #hamburger {
		display: inline-block;
        padding-left: 20px;
        width: 26px;
        float: left;
        font-size: 2em;
	}
}
